ul {
  list-style-type: none;
}

.page {
  min-height: 100vh;
  background-color: $flatBlue;
  color: #fff;
  .content-area {
    width: calc(100% - 250px);
    float: right;
    min-height: 100vh;
    transition: all 0.5s ease-in-out;
    &.min-sidebar {
      width: calc(100% - 80px);
    }
  }
}